<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3 text-center">Fin-Rec System</h1>
            <form action="/searchAll" method="POST">
                <div class="form-row justify-content-center">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <select id="searchBy" class="form-control mb-2" name="searchBy">
                            <option value="All">All</option>
                            <option value="transactionUID">Transaction Id</option>
                            <option value="preparedBy">Agent Name</option>
                            <option value="transactionTerminal">Terminal</option>
                            <option value="transactionType">Transaction Type</option>
                            <option value="customerName">Customer Name</option>
                            <option value="customerPhone">Customer Phone</option>
                            <option value="customerEmail">Customer Email</option>
                        </select>
                        <input type="text" id="searchQuery" name="searchQuery" class="form-control mb-2"
                            placeholder="Search">
                        <button type="submit" class="btn btn-block btn-lg btn-dark" id="goSearch">Search</button>
                        <p id="searchInfo" class="mt-3"></p>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row" id="resultsDiv">
            {{#each results}}
            <div class="container">
                <div class="form-row justify-content-center">
                    <div class="col-12 col-md-6 p-4 border mb-3">
                        <table class="table table-striped">
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Transaction Id:</th>
                                    <td>{{transactionId}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Transaction Date:</th>
                                    <td>{{#formatDateTime transactionDate}}{{/formatDateTime}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Transaction Type:</th>
                                    <td>{{transactionType}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Transaction Terminal:</th>
                                    <td>{{transactionTerminal}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Amount Received:</th>
                                    <td>{{amountReceived}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Amount Paid:</th>
                                    <td>{{amountPaid}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">POS Debited Amount:</th>
                                    <td>{{posDebitedAmount}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Agent Name:</th>
                                    <td>{{preparedBy}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Customer Name:</th>
                                    <td>{{customerName}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Customer Email:</th>
                                    <td>{{customerEmail}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Customer Phone:</th>
                                    <td>{{customerPhone}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
    <!-- this will show our spinner -->
    <div hidden id="spinner"></div>
    </div> <!-- /container -->
</main>