<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3 mt-4">{{locationName}}</h1>
            <p class="lead">{{locationAddress}}, {{locationCity}}, {{locationState}}.</p>
            <hr class="my-4">
            <p>{{contactName}} - {{contactEmail}} - {{contactPhone}}</p>

            <table id="transactionsTable" class="table table-striped" style="width: 100%;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">UID</th>
                        <th scope="col">Terminal</th>
                        <th scope="col">Type</th>
                        <th scope="col">Charge</th>
                        <th scope="col">POS Debit</th>
                        <th scope="col">Amt Paid</th>
                        <th scope="col">Amt Received</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Customer Phone</th>
                        <th scope="col">Customer Email</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
</main>