<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3 text-center mt-4">Settings</h1>
      <div class="form-row justify-content-center">
        <div class="col-12 mb-2 mb-md-0">
          <nav class="nav nav-pills nav-justified">
            <a
              class="nav-link active"
              data-toggle="tab"
              href="#agentsTab"
            >Agents</a>
            <a
              class="nav-link"
              data-toggle="tab"
              href="#locationsTab"
            >Locations</a>
            <a class="nav-link" data-toggle="tab" href="#companyTab">Company</a>
            <a
              class="nav-link"
              data-toggle="tab"
              href="#securityTab"
            >Security</a>
          </nav>

          <div class="tab-content" id="settingsContent">
            {{! Settings Tab Content }}
            <div
              class="tab-pane fade show mt-4 active"
              id="agentsTab"
              role="tabpanel"
              aria-labelledby="agents-tab"
            >
              <p><button
                  id="newAgentBtn"
                  class="btn btn-sm btn-outline-dark"
                  data-toggle="modal"
                  data-target="#newAgentModal"
                >New Agent</button></p>
              <table
                id="agentsTable"
                class="table table-striped"
                style="width: 100%;"
              >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Phone #</th>
                    <th scope="col">Active</th>
                    <th scope="col">Options</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            {{! Locations Tab Content }}
            <div
              class="tab-pane fade mt-4"
              id="locationsTab"
              role="tabpanel"
              aria-labelledby="locations-tab"
            >

              <p><button
                  id="newLocationBtn"
                  class="btn btn-sm btn-outline-dark"
                  data-toggle="modal"
                  data-target="#newLocationModal"
                >New Location</button></p>
              <table
                id="locationsTable"
                class="table table-striped"
                style="width: 100%;"
              >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Contact Name</th>
                    <th scope="col">Contact Email</th>
                    <th scope="col">Contact Phone</th>
                    <th scope="col">Options</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>

            </div>
            {{! Company Tab Content }}
            <div
              class="tab-pane fade"
              id="companyTab"
              role="tabpanel"
              aria-labelledby="company-tab"
            >
              <form
                id="companyInfoForm"
                action="/updateCompanyInfo"
                method="POST"
              >
                <div class="row">
                  <div class="col-md-6">
                    <p>
                      <h3 class="font-weight-light mt-4">Company Information</h3>
                    </p>
                    <hr />
                    <div class="mb-3">
                      <label
                        class="font-weight-bold required"
                        for="companyName"
                      >Company Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="companyName"
                        name="companyName"
                        value="{{companyInfo.companyName}}"
                      />
                      {{#if errors}}
                        {{#each errors}}
                          {{#ifEquals param "companyName"}}
                            <div class="messages text-danger mb-2">{{msg}}</div>
                          {{/ifEquals}}
                        {{/each}}
                      {{/if}}
                    </div>
                    <div class="mb-3">
                      <label class="font-weight-bold required" for="email">Email
                        Address</label>
                      <input
                        type="email"
                        class="form-control"
                        id="companyEmail"
                        name="companyEmail"
                        value="{{companyInfo.companyEmail}}"
                      />
                      {{#if errors}}
                        {{#each errors}}
                          {{#ifEquals param "companyEmail"}}
                            <div class="messages text-danger mb-2">{{msg}}</div>
                          {{/ifEquals}}
                        {{/each}}
                      {{/if}}
                    </div>
                    <div class="mb-3">
                      <label
                        class="font-weight-bold required"
                        for="companyAddress"
                      >Address</label>
                      <input
                        type="text"
                        class="form-control"
                        id="companyAddress"
                        name="companyAddress"
                        value="{{companyInfo.companyAddress}}"
                      />
                      {{#if errors}}
                        {{#each errors}}
                          {{#ifEquals param "companyAddress"}}
                            <div class="messages text-danger mb-2">{{msg}}</div>
                          {{/ifEquals}}
                        {{/each}}
                      {{/if}}
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <label
                          class="font-weight-bold required"
                          for="companyCity"
                        >City</label>
                        <input
                          type="text"
                          class="form-control"
                          id="companyCity"
                          name="companyCity"
                          value="{{companyInfo.companyCity}}"
                        />
                        {{#if errors}}
                          {{#each errors}}
                            {{#ifEquals param "companyCity"}}
                              <div
                                class="messages text-danger mb-2"
                              >{{msg}}</div>
                            {{/ifEquals}}
                          {{/each}}
                        {{/if}}
                      </div>
                      <div class="col-md-6">
                        <label
                          class="font-weight-bold required"
                          for="companyState"
                        >State</label>
                        <input
                          type="text"
                          class="form-control"
                          id="companyState"
                          name="companyState"
                          value="{{companyInfo.companyState}}"
                        />
                        {{#if errors}}
                          {{#each errors}}
                            {{#ifEquals param "companyState"}}
                              <div
                                class="messages text-danger mb-2"
                              >{{msg}}</div>
                            {{/ifEquals}}
                          {{/each}}
                        {{/if}}
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <label
                          class="font-weight-bold required"
                          for="companyPhone"
                        >Phone Number</label>
                        <input
                          type="text"
                          class="form-control"
                          id="companyPhone"
                          name="companyPhone"
                          value="{{companyInfo.companyPhone}}"
                        />
                        {{#if errors}}
                          {{#each errors}}
                            {{#ifEquals param "companyPhone"}}
                              <div
                                class="messages text-danger mb-2"
                              >{{msg}}</div>
                            {{/ifEquals}}
                          {{/each}}
                        {{/if}}
                      </div>
                      <div class="col-md-6">
                        <label
                          class="font-weight-bold"
                          for="companyWebsite"
                        >www</label>
                        <input
                          type="text"
                          class="form-control"
                          id="companyWebsite"
                          name="companyWebsite"
                          value="{{companyInfo.companyWebsite}}"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <p>
                      <h3 class="font-weight-light mt-4">Contact Information</h3>
                    </p>
                    <hr />
                    <div class="mb-3">
                      <label class="font-weight-bold" for="contactName">Contact
                        Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="contactName"
                        name="contactName"
                        value="{{companyInfo.contactName}}"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="font-weight-bold" for="contactPhone">Contact
                        Phone</label>
                      <input
                        type="text"
                        class="form-control"
                        id="contactPhone"
                        name="contactPhone"
                        value="{{companyInfo.contactPhone}}"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="font-weight-bold" for="contactEmail">Contact
                        Email</label>
                      <input
                        type="text"
                        class="form-control"
                        id="contactEmail"
                        name="contactEmail"
                        value="{{companyInfo.contactEmail}}"
                      />
                    </div>
                    <button
                      type="submit"
                      class="btn btn-block mb-3 btn-dark"
                      id="updateCompanyInfo"
                    >Update</button>
                  </div>
                </div>
              </form>
            </div>
            <div
              class="tab-pane fade"
              id="securityTab"
              role="tabpanel"
              aria-labelledby="security-tab"
            >
              Security Module</div>
          </div>

          {{! New Agent Modal }}
          <div
            class="modal"
            id="newAgentModal"
            data-backdrop="static"
            data-keyboard="false"
            tabindex="-1"
            aria-labelledby="newAgentModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><i
                      class="fas fa-user text-primary pl-3 mr-2"
                    ></i>
                    <span id="newAgentModalLabel">New Agent</span></h5>
                </div>
                <form id="newAgentForm" action="/api/newAgent" method="POST">
                  <div class="modal-body pt-0">
                    <div class="col-12 justify-content-center">
                      <p class="text-success mb-0 mb-2 message"></p>
                      <p class="text-danger mb-0 mb-2 messageError"></p>
                      <input
                        type="hidden"
                        class="form-control"
                        id="userId"
                        name="userId"
                        value=""
                      />
                      <input
                        type="hidden"
                        class="form-control"
                        id="agentLocationName"
                        name="agentLocationName"
                        value=""
                      />
                      <div class="mb-2">
                        <label
                          class="font-weight-bold mb-0 required"
                          for="name"
                        >Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          name="name"
                          value=""
                        />
                        <div
                          class="newAgentServerMessages text-danger nameError mb-2"
                        ></div>
                      </div>
                      <div class="mb-2">
                        <label
                          class="font-weight-bold mb-0 required"
                          for="locationUID"
                        >Location</label>
                        <input
                          type="text"
                          class="form-control"
                          id="locationUID"
                          name="locationUID"
                        />
                        <div
                          class="newAgentServerMessages text-danger locationUIDError mb-2"
                        >
                        </div>
                      </div>
                      <div class="mb-2">
                        <label
                          class="font-weight-bold mb-0 required"
                          for="emailAddress"
                        >Email Address</label>
                        <input
                          type="text"
                          class="form-control"
                          id="emailAddress"
                          name="emailAddress"
                          value=""
                        />
                        <div
                          class="newAgentServerMessages text-danger emailAddressError mb-2"
                        >
                        </div>
                      </div>
                      <div class="mb-2">
                        <label
                          class="font-weight-bold mb-0 required"
                          for="phoneNumber"
                        >Phone Number</label>
                        <input
                          type="text"
                          class="form-control"
                          id="phoneNumber"
                          name="phoneNumber"
                          value=""
                        />
                        <div
                          class="newAgentServerMessages text-danger phoneNumberError mb-2"
                        >
                        </div>
                      </div>
                      <div class="form-group form-check form-check-inline">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          name="role"
                          id="role"
                        />
                        <label class="form-check-label" for="role">Admin User</label>
                      </div>
                      <div
                        id="activeCheckbox"
                        class="form-group form-check form-check-inline d-none"
                      >
                        <input
                          type="checkbox"
                          class="form-check-input"
                          name="active"
                          id="active"
                        />
                        <label class="form-check-label" for="role">Deactivate
                          User</label>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-danger"
                      id="closeNewAgentModal"
                    >Cancel</button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-dark"
                      id="saveNewAgent"
                    >Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          {{! New Agent Modal End }}

          {{! New Location Modal }}
          <div
            class="modal"
            id="newLocationModal"
            data-backdrop="static"
            data-keyboard="false"
            tabindex="-1"
            aria-labelledby="newLocationModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><i
                      class="fas fa-location-arrow text-primary pl-3 mr-2"
                    ></i>
                    <span id="newLocationModalLabel"> New Location</span></h5>
                </div>

                <form
                  id="newLocationForm"
                  action="/api/newLocation"
                  method="POST"
                >
                  <div class="modal-body pt-0">
                    <div class="col-12 justify-content-center">
                      <p class="text-success mb-0 mb-2 message"></p>
                      <p class="text-danger mb-0 mb-2 errorMessage"></p>
                      <div class="mb-2">
                        <label
                          class="font-weight-bold mb-0 required"
                          for="locationName"
                        >Location Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="locationName"
                          name="locationName"
                          value="{{locationName}}"
                        />
                        <div
                          class="newLocationServerMessages text-danger locationNameError mb-2"
                        >
                        </div>
                      </div>
                      <div class="mb-2">
                        <label
                          class="font-weight-bold mb-0 required"
                          for="locationAddress"
                        >Address</label>
                        <input
                          type="text"
                          class="form-control"
                          id="locationAddress"
                          name="locationAddress"
                          value="{{locationAddress}}"
                        />
                        <div
                          class="newLocationServerMessages text-danger locationAddressError mb-2"
                        >
                        </div>
                      </div>
                      <div class="mb-2">
                        <label
                          class="font-weight-bold mb-0 required"
                          for="locationCity"
                        >City</label>
                        <input
                          type="text"
                          class="form-control"
                          id="locationCity"
                          name="locationCity"
                          value="{{locationCity}}"
                        />
                        <div
                          class="newLocationServerMessages text-danger locationCityError mb-2"
                        >
                        </div>
                      </div>
                      <div class="mb-2">
                        <label
                          class="font-weight-bold mb-0 required"
                          for="locationState"
                        >State</label>
                        <input
                          type="text"
                          class="form-control"
                          id="locationState"
                          name="locationState"
                          value="{{locationState}}"
                        />
                        <div
                          class="newLocationServerMessages text-danger locationStateError mb-2"
                        >
                        </div>
                      </div>
                      <div class="mb-2">
                        <label
                          class="font-weight-bold mb-0"
                          for="locationEmail"
                        >Email</label>
                        <input
                          type="text"
                          class="form-control"
                          id="locationEmail"
                          name="locationEmail"
                          value="{{locationEmail}}"
                        />
                      </div>
                      <div class="mb-2">
                        <label
                          class="font-weight-bold mb-0"
                          for="locationPhone"
                        >Phone</label>
                        <input
                          type="text"
                          class="form-control"
                          id="locationPhone"
                          name="locationPhone"
                          value="{{locationPhone}}"
                        />
                      </div>
                      <div class="mb-2">
                        <label
                          class="font-weight-bold mb-0"
                          for="contactName"
                        >Contact Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="contactNameModal"
                          name="contactName"
                          value="{{contactName}}"
                        />
                      </div>
                      <div class="mb-2">
                        <label
                          class="font-weight-bold mb-0"
                          for="contactEmail"
                        >Contact Email</label>
                        <input
                          type="text"
                          class="form-control"
                          id="contactEmailModal"
                          name="contactEmail"
                          value="{{contactEmail}}"
                        />
                      </div>
                      <div class="mb-2">
                        <label
                          class="font-weight-bold mb-0"
                          for="contactPhone"
                        >Contact Phone</label>
                        <input
                          type="text"
                          class="form-control"
                          id="contactPhoneModal"
                          name="contactPhone"
                          value="{{contactPhone}}"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-danger"
                      id="closeNewLocationModal"
                    >Cancel</button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-dark"
                      id="saveNewLocation"
                    >Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          {{! New Location Modal End }}

          {{! Delete Confirmation Modal }}
          <div
            class="modal"
            id="deleteConfirmationModal"
            tabindex="-1"
            aria-labelledby="deleteConfirmationModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5
                    class="modal-title text-danger mb-2"
                    id="deleteConfirmationModalLabel"
                  ><i class="fas fa-exclamation-triangle"></i> Delete ke ??</h5>

                  <h5
                    class="modal-title text-success mb-2 d-none"
                    id="deleteSuccessConfirmationModalLabel"
                  >
                    <i class="fas fa-check-circle"></i>
                    Done !!
                  </h5>
                </div>
                <div class="modal-body pt-1">
                  <p id="confirmDeleteErrorMessage" class="text-danger"></p>
                  <p
                    id="confirmDeleteSuccessMessage"
                    class="text-success d-none"
                  ><span id="userLocationSpan"></span> deleted.</p>
                  <p id="deleteModalBody" class="">Delete na bad thing, think am
                    well well o. Click Delete if your head correct or click
                    Cancel if your head correct.</p>

                  <p id="actionMessage" class="text-danger"></p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-outline-danger"
                    id="closeDeleteConfirmationModal"
                  >Close</button>
                  <button
                    type="button"
                    class="btn btn-outline-dark continueDelete"
                    data-option=""
                    data-id=""
                    id="continueDelete"
                  >
                    Delete</button>
                </div>
              </div>
            </div>
          </div>
          {{! Delete Confirmation Modal End }}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/assets/js/settings.js"></script>
</main>