<main role="main">
   <div class="jumbotron">
        <div class="container">
            <h1 class="display-3 text-center">Transaction Details</h1>
                <div class="form-row justify-content-center">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <div class="row mb-1">
                            <div class="col-md-6"><p class="font-weight-bold mb-0">Transaction Id:</p></div>
                            <div class="col-md-6">{{transactionUID}}</div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-6"><p class="font-weight-bold mb-0">Date:</p></div>
                            <div class="col-md-6">{{#formatDateTime createdAt}}{{/formatDateTime}}</div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-6"><p class="font-weight-bold mb-0">Type:</p></div>
                            <div class="col-md-6">{{transactionType}}</div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-6"><p class="font-weight-bold mb-0">Terminal:</p></div>
                            <div class="col-md-6">{{transactionTerminal}}</div>
                        </div>
                        
                        <div class="row mb-1">
                            <div class="col-md-6"><p class="font-weight-bold mb-0">Received:</p></div>
                            <div class="col-md-6">{{amountReceived}}</div>
                        </div>
                        
                        <div class="row mb-1">
                            <div class="col-md-6"><p class="font-weight-bold mb-0">Paid:</p></div>
                            <div class="col-md-6">{{amountPaid}}</div>
                        </div>

                        <div class="row mb-1">
                            <div class="col-md-6"><p class="font-weight-bold mb-0">POS Charge:</p></div>
                            <div class="col-md-6">{{posCharge}}</div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-6"><p class="font-weight-bold mb-0">Prepared By:</p></div>
                            <div class="col-md-6">{{preparedBy}}</div>
                        </div>

                        <div class="row mb-1">
                            <div class="col-md-6"><p class="font-weight-bold mb-0">Customer Name:</p></div>
                            <div class="col-md-6">{{customerName}}</div>
                        </div>
                        
                        <div class="row mb-1">
                            <div class="col-md-6"><p class="font-weight-bold mb-0">Customer Phone:</p></div>
                            <div class="col-md-6">{{customerPhone}}</div>
                        </div>

                        <div class="row mb-1">
                            <div class="col-md-6"><p class="font-weight-bold mb-0">Customer Email:</p></div>
                            <div class="col-md-6">{{customerEmail}}</div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</main>