<main role="main">
   <div class="jumbotron">
        <div class="container">
            <h1 class="display-3 text-center mt-4">Transaction Details</h1>
                <div class="form-row justify-content-center">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <table class="table table-striped">
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Transaction Id:</th>
                                    <td>{{transactionUID}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Location Id:</th>
                                    <td>{{locationUID}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Transaction Date:</th>
                                    <td>{{#formatDateTime createdAt}}{{/formatDateTime}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Transaction Type:</th>
                                    <td>{{transactionType}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Transaction Terminal:</th>
                                    <td>{{transactionTerminal}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Transaction Amount:</th>
                                    <td><span>&#8358;</span>{{transactionAmount}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Transaction Charge:</th>
                                    <td><span>&#8358;</span>{{transactionCharge}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">POS Charge:</th>
                                    <td><span>&#8358;</span>{{posCharge}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Agent Name:</th>
                                    <td>{{preparedBy}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Customer Name:</th>
                                    <td>{{customerName}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Customer Email:</th>
                                    <td>{{customerEmail}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Customer Phone:</th>
                                    <td>{{customerPhone}}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</main>