<main role="main">
  <div class="jumbotron">
    <div class="container">
        <h4 class="display-4 text-center mt-4">{{#if edit}}Edit {{else}}New {{/if}} Tracker</h4>
        <div class="messages text-danger mb-2">{{message}}</div>
        <form id="newTrackerForm" {{#if edit}} action="/autoTracker/tracker/edit/{{trackerId}}" {{else}} action="/autoTracker/tracker/new/{{customerId}}" {{/if}} method="POST">
              <div class="form-row justify-content-center">
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <p class="text-success mb-0 mb-2 message"></p>
                  <p class="text-danger mb-0 mb-2 errorMessage"></p>
                  <input type="hidden" value="{{trackerId}}" id="trackerId" name="trackerId"/>
                  <input type="hidden" value="{{customerId}}" id="customerId" name="customerId"/>

                  <div class="row">
                    <div class="col-md-6 mb-2">
                    <label class="font-weight-bold mb-0 required" for="vehicleYear">Vehicle Year</label>
                    <select id="vehicleYear" class="form-control mb-2" name="vehicleYear">
                      {{#if vehicleYear}}
                        <option value="{{vehicleYear}}">{{vehicleYear}}</option>
                      {{else}}
                        <option value="">Choose Vehicle Year</option>
                      {{/if}}
                    </select>
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "vehicleYear"}}
                                <div class="messages text-danger mb-2">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                  </div>

                  <div class="col-md-6 mb-2">
                    <label class="font-weight-bold mb-0 required" for="vehicleMake">Vehicle Make</label>
                    <select id="vehicleMake" class="form-control mb-2" name="vehicleMake">
                      {{#if vehicleMake}}
                        <option
                          value="{{vehicleMake}}"
                        >{{vehicleMake}}</option>
                      {{else}}
                        <option value="">Choose Category</option>
                      {{/if}}
                      {{#unless vehicleMake}}
                        <option value="Acura">Acura</option>
                        <option value="Aston Martin">Aston Martin</option>
                        <option value="Audi">Audi</option>
                        <option value="Bentley">Bentley</option>
                        <option value="BMW">BMW</option>
                        <option value="Brabus">Brabus</option>
                        <option value="Bugatti">Bugatti</option>
                        <option value="Buick">Buick</option>
                        <option value="Cadillac">Cadillac</option>
                        <option value="Chevrolet">Chevrolet</option>
                        <option value="Chrysler">Chrysler</option>
                        <option value="Dodge">Dodge</option>
                        <option value="Ferrari">Ferrari</option>
                        <option value="Ford">Ford</option>
                        <option value="Genesis">Genesis</option>
                        <option value="GMC">GMC</option>
                        <option value="Hyundai">Hyundai</option>
                        <option value="Infiniti">Infiniti</option>
                        <option value="Jaguar">Jaguar</option>
                        <option value="Kia">Kia</option>
                        <option value="Lexus">Lexus</option>
                        <option value="Lincoln">Lincoln</option>
                        <option value="Lucid">Lucid</option>
                        <option value="Maserati">Maserati</option>
                        <option value="Maybach">Maybach</option>
                        <option value="Mazda">Mazda</option>
                        <option value="Mercedes Benz">Mercedes Benz</option>
                        <option value="Mini">Mini</option>
                        <option value="Nissan">Nissan</option>
                        <option value="Porsche">Porsche</option>
                        <option value="RAM">RAM</option>
                        <option value="Rolls Royce">Rolls Royce</option>
                        <option value="Rover">Rover</option>
                        <option value="Scion">Scion</option>
                        <option value="Subaru">Subaru</option>
                        <option value="Tesla">Tesla</option>
                        <option value="Toyota">Toyota</option>
                        <option value="Volkswagen">Volkswagen</option>
                        <option value="Volvo">Volvo</option>
                      {{/unless}}
                    </select>
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "vehicleMake"}}
                                <div class="messages text-danger mb-2">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                  </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-2">
                    <label class="font-weight-bold mb-0 required" for="vehicleModel">Vehicle Model</label>
                    <input type="text" class="form-control" id="vehicleModel" name="vehicleModel" value="{{vehicleModel}}"/>
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "vehicleModel"}}
                                <div class="messages text-danger mb-2">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                  </div>

                  <div class="col-md-6 mb-2">
                    <label class="font-weight-bold mb-0 required" for="licensePlateNumber">License Plate Number</label>
                    <input type="text" class="form-control" id="licensePlateNumber" name="licensePlateNumber" value="{{licensePlateNumber}}"/>
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "licensePlateNumber"}}
                                <div class="messages text-danger mb-2">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                  </div>
                  </div>

                  <div class="mb-2">
                    <label class="font-weight-bold mb-0 required" for="imei">IMEI</label>
                    <input type="text" class="form-control" id="imei" name="imei" value="{{imei}}"/>
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "imei"}}
                                <div class="messages text-danger mb-2">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                  </div>

                  <div class="mb-2">
                    <label class="font-weight-bold mb-0 required" for="simCardNumber">Sim Card #</label>
                    <input type="text" class="form-control" id="simCardNumber" name="simCardNumber" value="{{simCardNumber}}"/>
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "simCardNumber"}}
                                <div class="messages text-danger mb-2">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                  </div>

                  <div class="mb-2">
                    <label class="font-weight-bold mb-0 required" for="gpsDevice">GPS Device</label>
                    <input type="text" class="form-control" id="gpsDevice" name="gpsDevice" value="{{gpsDevice}}"/>
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "gpsDevice"}}
                                <div class="messages text-danger mb-2">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-2">
                    <label class="font-weight-bold mb-0 required" for="protocol">Protocol</label>
                    <input type="text" class="form-control" id="protocol" name="protocol" value="{{protocol}}"/>
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "protocol"}}
                                <div class="messages text-danger mb-2">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                  </div>

                  <div class="col-md-6 mb-2">
                    <label class="font-weight-bold mb-0 required" for="netProtocol">Net Protocol</label>
                    <input type="text" class="form-control" id="netProtocol" name="netProtocol" value="{{netProtocol}}"/>
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "netProtocol"}}
                                <div class="messages text-danger mb-2">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                  </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-2">
                    <label class="font-weight-bold mb-0 required" for="ipAddress">IP Address</label>
                    <input type="text" class="form-control" id="ipAddress" name="ipAddress" value="{{ipAddress}}"/>
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "ipAddress"}}
                                <div class="messages text-danger mb-2">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                  </div>

                  <div class="col-md-6 mb-2">
                    <label class="font-weight-bold mb-0 required" for="port">Port</label>
                    <input type="text" class="form-control" id="port" name="port" value="{{port}}"/>
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "port"}}
                                <div class="messages text-danger mb-2">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                  </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-2">
                    <label class="font-weight-bold mb-0 required" for="expiresOn">Expires On</label>
                    <div class="form-group">
                      <div class="input-group date" id="expiresOn" data-target-input="nearest">
                        <input type="hidden" name="expiresOnValue" id="expiresOnValue" value="{{#formatLocalDate expiresOn}}{{/formatLocalDate}}" class="form-control" />
                        <input type="text" name="expiresOn" class="form-control datetimepicker-input" data-target="#expiresOn"/>
                        <div class="input-group-append" data-target="#expiresOn" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                      </div>
                    </div>
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "expiresOn"}}
                                <div class="messages text-danger mb-2">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                  </div>

                  <div class="col-md-6 mb-2">
                    <label class="font-weight-bold mb-0 required" for="lastConnectionDate">Last Connection Date</label>
                    <div class="form-group">
                      <div class="input-group date" id="lastConnectionDate" data-target-input="nearest">
                        <input type="hidden" name="lastConnectionDateValue" id="lastConnectionDateValue" value="{{#formatLocalDate lastConnectionDate}}{{/formatLocalDate}}" class="form-control" />
                        <input type="text" name="lastConnectionDate" class="form-control datetimepicker-input" value="{{#formatLocalDate lastConnectionDate}}{{/formatLocalDate}}" data-target="#lastConnectionDate"/>
                        <div class="input-group-append" data-target="#lastConnectionDate" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                      </div>
                    </div>
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "lastConnectionDate"}}
                                <div class="messages text-danger mb-2">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                  </div>
                  </div>

                  <div class="row justify-content-between mx-0">
                    <a href="/autoTracker/customer/{{customerId}}"
                  type="button"
                  class="btn btn-md btn-outline-danger"
                >Back</a>
                <button
                  type="submit"
                  class="btn btn-md btn-outline-dark"
                  id="saveNewTracker"
                >Save</button>
                  </div>

                </div>
              </div>
            </form>
    </div>
  </div>
<script type="text/javascript" src="../../../assets/js/newTracker.js"></script>
</main>
